<div id = "genre-show-page">

<section id="genre-show">
<h1><%= @genre.title %></h1>

<img class="genre-pictures" src="<%= @genre.picture %>">
</section>

<section id="film-index">

  <h2>Current Winner</h2>
    <h3><%= link_to @genre.film_winner.title, film_path(@genre.sort_by_stars.first)%><br>
    <%= link_to image_tag(src="#{@genre.film_winner.picture}", class: "genre_pictures"), genre_path(@genre) %></h3>

<div id = "recent-ratings">
<ul>
  <h3>Recent Ratings</h3>
  <%@genre.film_ratings[0..2].each do |rating|%> <!-- List of all the reviews -->
    <li>
      <%= link_to rating.film.title, film_path(rating.film) %><br>
      <%=truncate(rating.review, length: 90, separator: ' '){link_to "Read more", film_path(rating.film)} %><br> <!-- Renders a blurb of the review, with a link to the full review -->
      <%=rating.stars%>
    </li>
  <% end %>
</ul>
<div>




<ul id="sort_tabs">
  <li class="clicked"><a class="tab_links" id="star_sort" href="#">Most Stars</a></li>
  <li><a class="tab_links" id="recent_sort"href="#">Most Recent</a></li>
</ul>

<ul  class="film_list" id="sort_by_stars">
  <% @genre.sort_by_stars.each do |film| %>
    <li><%= link_to film.title, film_path(film) %></li>
  <% end %>

</ul>
<ul class="active film_list" id="sort_by_recent">
  <% @genre.films.reverse.each do |film| %>
    <li><%= link_to film.title, film_path(film) %></li>
  <% end %>


</ul>
</section>
</div>
