<div id="film-desc">
	<h1><%= @film.title%></h1>
	<img src="<%= @film.picture%>">
	<h3>Directed by: <%= @film.director%></h3>
	<p><%= @film.description%></p>
</div>

<div class="rating" id="judge-ratings">
<h3>Judge Reviews</h3>
<ul>
<% @film.ratings.each do |rating| %>
	<% if rating.user.judge? %>
	<li>
	<%= render partial: "ratings/rating_partial_show", locals: {rating: rating} %>
	</li>
	<% end %>
	<%end%>
</ul>
</div>

<div class="rating" id="public-ratings">
<h3>Public Reviews</h3>
<ul>
	<% @film.ratings.reverse.each do |rating| %>
	<% if !rating.user.judge? %>
	<li>
		<%= render partial: "ratings/rating_partial_show", locals: {rating: rating} %>
	</li>
	<% end %>
	<%end%>
</ul>
</div>

<% if logged_in? && !already_rated?(@film) %>
<%= link_to "Add Rating", new_rating_path(params: {film_id: @film.id}) %>
<% end %>
