<!DOCTYPE html>
<html>
<head>
  <title>LowerEastSideCinema</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header-bar">
    <div id="title"><%= link_to "LES Film Fest", genres_path %></div>
    </div>
  <div class="header-bar" id="lower-bar">
    <%= link_to "Meet the Judges", judges_path %>
  <%if logged_in?%>
    <%= link_to "Profile", user_path(current_user) %>
    <%= link_to "Logout",logout_path %>
  <%else%>
    <%= link_to "Register", new_user_path %>
    <%= link_to "Login",login_path %>
  <%end%>
  </div>

<%= yield %>

</body>
</html>
 